.nav__btn-close {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/close.png);
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
