.news-card__signin {
  position: absolute;
  top: 24px;
  right: 69px;
  background-color: white;
  width: 182px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 886px) {
  .news-card__signin {
    width: 83px;
    height: 40px;
    top: 10px;
    right: 55px;
  }
}
