.footer__link {
  margin: 0;
  color: black;
  text-decoration: none;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1b22;
}
