.news-card__add {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(../../../images/bookmark-hover.png);
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.news-card__add:hover {
  opacity: 1;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url(../../../images/bookmark-hover.png);
}

@media screen and (max-width: 886px) {
  .news-card__add {
    top: 10px;
    right: 9px;
  }
}
