.popup__close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/close.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .popup__close-btn {
    width: 24px;
    height: 24px;
    top: -40px;
    right: 10px;
  }
}
