.news-card__title {
  margin: 0 0 15px;
  max-width: 352px;
  font-family: "RobotoSlab-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 886px) {
  .news-card__title {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    min-height: 96px;
  }
}

@media screen and (max-width: 600px) {
  .news-card__title {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 24px;
    min-height: 48px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
